.header{
  display: flex;
  background-color: blueviolet;
}

.searchbox{
  width: 50vh;
  align-items: center;
}

.form-control{
  width: 150vh;
  height: 10vh;
  align-items: center;
  display: inline-block;
}
.header {
  background-color: #333; /* Change the background color to your preference */
  color: #fff; /* Text color */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 24px;
  margin: 0;
}

.icons {
  list-style-type: none;
  display: flex;
  padding: 0;
}

.icons li {
  margin-right: 20px; /* Adjust the spacing between menu items */
  font-weight: 500;
  text-transform: uppercase; /* Convert text to uppercase */
  cursor: pointer;
}

.icons li:last-child {
  margin-right: 20px;
}
.icons li:hover {
  color: yellow;
}
.searchbox {
  margin-left: 150px;
  justify-content: center; /* Horizontal centering */
  align-items: center; /* Vertical centering */
  height: 100vh; /* Makes sure it takes the full viewport height */
  text-align: center; /* Center-align the form content */
}

.form-inline {
  max-width: 300px; /* Adjust this value based on your design */
}
